/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/
@import "reset"
@import "fonts"
@import "nib"
 




/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
flex()
	display -webkit-box      /* OLD - iOS 6-, Safari 3.1-6 */
	display -moz-box        /* OLD - Firefox 19- (buggy but mostly works) */
	display -ms-flexbox     /* TWEENER - IE 10 */
	display -webkit-flex    /* NEW - Chrome */
	display flex 
	
justify(parametro)
	-webkit-justify-content parametro
	justify-content parametro


	


/*------------------------------------*\
    $COLORES
\*------------------------------------*/
// primaryA = #FF9800
// primaryB = #FF9800
// primaryC = #FF9800

// secundaryA = #FF9800
// secundaryB = #FF9800
// secundaryC = #FF9800

// .primary-text 
// 	color rgba(#000000,.87)
// primary-text = rgba(#000000,.87)

// .secundary-text 
// 	color rgba(#000000,.54)
// secundary-text = rgba(#000000,.54)

// .hint-text 
// 	color rgba(#000000,.26)
// hint-text = rgba(#000000,.26)

// .divider 
// 	color rgba(#000000,.12)
// divider = rgba(#000000,.12)




/*------------------------------------*\
    $TIPOGRAFÍA
\*------------------------------------*/





/*------------------------------------*\
    $GRID Y MÁRGENES
\*------------------------------------*/





/*------------------------------------*\
    $ELEMENTOS
\*------------------------------------*/





/*------------------------------------*\
    $UTILIDADES
\*------------------------------------*/
body 
	background-repeat no-repeat
	image("../img/bg.jpg", w=1104px, h=736px)
	background-size 100% 100vh 


	
/*------------------------------------*\
    $LAYOUT 
\*------------------------------------*/
/**
 * ^leonidas 320 480 768 1024
 */
/* Xsmall */
@import "bp1.styl"

/* small */
@media only screen and (min-width: 480px)
	@import "bp2.styl"
	
/* medium */
@media only screen and (min-width: 768px)
	@import "bp3.styl"

// /* large */
// @media only screen and (min-width: 1024px)
// 	@import "bp4.styl"
	
	


